<section>
  <h3>Pattern played by drummer 1</h3>
  {{stave-container
      elementId="drummer1"
      pattern=this.drummer1
      newVoiceGenerated=this.drummer1VoiceGenerated
    }}
  <h3>Pattern played by drummer 2</h3>
  {{stave-container
      elementId="drummer2"
      pattern=this.drummer2
      newVoiceGenerated=this.drummer2VoiceGenerated
    }}

  <h3>Combination of phased patterns</h3>

  {{midi-player
    audioContext=this.audioContext
    minTempo=this.minTempo
    maxTempo=this.maxTempo
    tempo=this.tempo
    updateTempo=this.updateTempo
    voice=this.compositeVoices
    currentlyPlaying=this.currentlyPlaying
  }}
</section>

<section>
  <div class="parameter">
    <label for="tempo">Tempo ({{format-number this.minTempo}} - {{format-number this.maxTempo}} bpm):</label>
    <input type="range" class="slider" id="tempo" min="{{this.minTempo}}" max="{{this.maxTempo}}" value="{{this.tempo}}"
      step="1" {{on "input" this.updateTempo}}>
    <output id="tempoOutput" for="tempo">{{this.tempo}}</output>
  </div>
</section>

<section>
  <h3>Resultant patterns</h3>
  <p>"...drummers three and four sing and/or play patterns they hear clearly emerging from the combination of the first
    two drummers." - Steve Reich</p>
  <h4>Adjust parameters and click the Generate Pattern button</h4>

  <p><i>Each time you click the button, a pattern that fits these parameters will be randomly generated.</i></p>
  <div class="parameter">
    <label for="numNotes">Number of notes ({{format-number this.minNotes}} - {{format-number this.maxNotes}}) -
      <i>Measure of note density</i></label>
    <input type="range" id="numNotes" min="{{this.minNotes}}" max="{{this.maxNotes}}" value="{{this.numNotes}}" step="1"
      list='numNotes-list' {{on "input" this.updateNotes}}>
    <output id="numNotesOutput" for="numNotes">{{format-number this.numNotes}}</output>
  </div>
  <div class="parameter">
    <label for="numStableBeats">Number of stable beats ({{format-number this.minStableBeats}} -
      {{format-number this.maxStableBeats}}) - <i>Measure of rhythmic stability</i></label>
    <input type="range" id="numStableBeats" min="{{this.minStableBeats}}" max="{{this.maxStableBeats}}"
      value="{{this.numStableBeats}}" step="1" {{on "input" this.updateStableBeats}}>
    <output id="numStableBeatsOutput" for="numStableBeats">{{format-number this.numStableBeats}}</output>
  </div>
  <div class="parameter">
    <label for="numMelodicTurns">Number of melodic turns ({{format-number this.minMelodicTurns}} -
      {{format-number this.maxMelodicTurns}}) - <i>Measure of melodic contour</i></label>
    <input type="range" id="numMelodicTurns" min="{{this.minMelodicTurns}}" max="{{this.maxMelodicTurns}}"
      value="{{this.numMelodicTurns}}" step="1" {{on "input" this.updateMelodicTurns}}>
    <output id="numMelodicTurnsOutput" for="numMelodicTurns">{{this.numMelodicTurns}}</output>
  </div>

  {{#if this.pattern}}

  {{stave-container
      elementId="stave-container"
      pattern=this.pattern
      newVoiceGenerated=this.resultantVoiceGenerated
    }}

  {{midi-player
    audioContext=this.audioContext
    minTempo=this.minTempo
    maxTempo=this.maxTempo
    tempo=this.tempo
    updateTempo=this.updateTempo
    voice=this.resultantVoice
    currentlyPlaying=this.currentlyPlaying
  }}

  {{t 'num_possibilities' numPossibilities=(format-number this.numPossibilities) numPatterns=this.numResultantPatterns htmlSafe=true}}

  {{#if this.showGeneratePatternButton}}
  <p><button class="button" id="random-pattern-button" {{on 'click' this.randomizePattern}}>Generate Random
      Pattern</button></p>
  {{/if}}

  {{else}}
  <p>No pattern exists for these parameters, please try a different combination.</p>
  {{/if}}
</section>
<a target="_blank" href="https://github.com/oliverxu07/drumming/blob/master/README.md">Project code available here</a>